html, 
body {
    height: 100%;
	font-family: BalooThambi2-Regular, Arial;
	color: #FFF;
	margin: 0;
	background: url('./images/background.svg');
	background-size: cover;
	background-attachment: fixed;
	background-color: #2f253f;
}

@font-face{
	font-family:'BalooThambi2-ExtraBold';
	src:url("./fonts/BalooThambi2-ExtraBold.ttf");
	format("truetype")
}

@font-face{
	font-family:'BalooThambi2-Bold';
	src:url("./fonts/BalooThambi2-Bold.ttf");
	format("truetype")
}

@font-face{
	font-family:'BalooThambi2-Medium';
	src:url("./fonts/BalooThambi2-Medium.ttf");
	format("truetype")
}

@font-face{
	font-family:'BalooThambi2-Regular';
	src:url("./fonts/BalooThambi2-Regular.ttf");
	format("truetype")
}

@font-face{
	font-family:'BalooThambi2-SemiBold';
	src:url("./fonts/BalooThambi2-SemiBold.ttf");
	format("truetype")
}

button {
	cursor: pointer;
}

h1 {
	margin-top: 0;
	padding-top: 75px;
	font-size: 3em;
}

h1, h2, h3 {
	text-transform: uppercase;
}

section {
	display: none;
}

section.active {
	display: block;
}

#main-menu {
	margin: 14vh auto;
}

#main-menu > div.description, #main-menu > div.creators {
	display: inline-block;
	width: 49%;
	font-family: BalooThambi2-Regular;
	font-size: 1.5em;
}

#main-menu table tr td {
	text-align: left;
}

#main-menu table {
	float: right;
}

.container {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}

.keyboard-container, .keyword-container {
	margin-top: 30px;
}
.letter {
	cursor: pointer;
	font-size: 2em;
	padding: 4px 14px;
	border-radius: 24px;
	background: #3f2f50;
	color: #fad938;
	width: 53px;
	height: 53px;
	border: none;
	margin: 4px;
}

#letter-_ {
	width: 280px !important;
	text-align: center;
}

#letter-backspace {
	width: auto !important;
	position: absolute;
	right: 0;
}

.keyboard-container > div {
	padding: 0 11vw;
	position: relative;
	height: 55px;
	margin: 0 auto;
	width: 10vw;
}

.speaker {
	border: none;
	background: transparent;
	position: absolute;
	left: 0;
}

.speaker img {
	transition: 0.1s ease;
}

#dummy-btn {
	visibility: hidden;
}

#error-notifier {
	display: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#error-notifier.active {
	display: block;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

#enter {
	cursor: pointer;
	background: transparent;
	border: none;
	vertical-align: bottom;
}

#level-header {
	margin-bottom: 0;
	font-family: BalooThambi2-Bold;
	color: #FBDA19;
	font-size: 2em;
}

#prompt-hint {
	margin-top: 0;
	color: #EBF0F3;
	font-size: 2em;
	text-transform: none;
}

#enter p {
	margin: 0;
}

.letter.active {
	background: #fad938;
	color: #3f2f50;
	transition: 0.05s ease;
	box-shadow: none;
}

#keyword {
	background: #3F2E51;
	border: 1px solid #FBDA19;
	box-sizing: border-box;
	border-radius: 50px;
	width: 430px;
	height: 50px;
	color: #FFF;
	padding: 10px 10px 10px 25px;
	font-family: BalooThambi2-Regular, Arial;
	font-size: 1.2em;
}

.explanation {
	padding: 4px 13px 4px 12px;
	background: #FBDA19;
	border-radius: 50%;
	font-size: 0.9em;
	font-weight: bold;
	font-family: BalooThambi2-Bold, Arial;
	color: #3f2f50;
	vertical-align: middle;
	text-align: center;
	margin-left: 8px;
}

#play-btn {
	background: transparent;
	border: none;
}

#play-btn img {
	transform: scale(1.3);
}

/*#play-btn, */#back-to-main-menu {
	color: #FFF;
	font-size: 2em;
	border-radius: 4px;
	padding: 0 20px;
   background: transparent;
   border: none;
}

.prompt-container {
    padding: 40px 20px;
	font-size: 1.3em;
	color: #FFF;
	width: 600px;
	margin: 0 auto;
	background: #3F2E51;
	border-radius: 57px;
}

.prompt-container p {
	margin: 0;
}

.prompt-text img {
	max-width: 150px;
}

.buttons {
	padding: 40px 0;
}

#results {
	margin: 20px auto;
	padding: 30px 30px;
	background: #3e2d51;
	border-radius: 50px;
}

#results img {
	max-width: 75px;
}

#results tr {
	color: #FFF;
	display: flex;
}

#results tr td:first-child {
	color: #ee3737;
}

#results tr.correct td:first-child {
	color: #4eca4c;
}

#results tr.half-correct td:first-child {
	color: #f09413;
}

#results tr.level td {
	background: #333 !important;
	color: #fbda19;
	font-family: BalooThambi2-Bold;
}
#results tr.level p {
	padding-top: 9px;
	padding-bottom: 9px;
}

#results tr, #results td {
	margin: 0;
	/*padding: 4px 8px;*/
}

#results td {
	flex: 1;
	margin: 2px;
}

#results td:nth-child(2) {
	max-width: 250px;
	width: 250px;
}

#results iframe {
	width: 100%;
	height: auto;
}

#results tr:first-child, #results tr:first-child td {
	color: #FFF !important;
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: BalooThambi2-Bold;
	background: transparent !important;
	padding: 0;
}

#results tr:first-child td p {
	background: #8d366f !important;
	padding: 7px 0px 0;
}

#results tr:first-child td p {
	height: 100%;
	margin: 0;
	width: 100%;
}

#results tr td p {
	margin: 0;
	width: 100%;
}

#results tr:nth-child(even) { background: transparent; }
#results tr:nth-child(odd) td { background: #512e50; }

#results tr p {
	display: inline-block;
}
#results tr:first-child td:first-child p {
	border-top-left-radius: 8px;
}
#results tr:first-child td:last-child p {
	border-top-right-radius: 8px;
}

#summary h2 {
	color: #fbda19;
	font-family: BalooThambi2-Bold;
	font-weight: 100;
	font-size: 1.9em;
}

#similarity {
	font-size: 1.7em;
}

.footer {
	background: #3e2d51;
	margin-bottom: -30px;
}

.footer > div {
	width: 1024px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer > div > div:first-child {
	width: 25%;
}

.footer > div > div:last-child {
	width: 74%;
	vertical-align: top;
}

.footer h3 {
	margin-top: 0;
	font-family: BalooThambi2-Bold;
	font-weight: 100;
}

strong {
	font-family: BalooThambi2-Bold;
	font-weight: 100;
}

.footer > div > div {
	display: inline-block;
}

.w3-tooltip {position: relative;}
.w3-text{display:none}
.w3-tooltip:hover .w3-text {display:inline-block}
.w3-tag{background-color:#000;color:#fff;padding-left:8px;padding-right:8px;text-align:center}