html, 
body {
    height: 100%;
}

body {
	color: #FFF;
	margin: 0 auto;
    font-family: Verdana;
	background-color: #9c0a26;
	background: linear-gradient(10deg, #4a0026 0%, #380714 50%, #222 100%);
}

button {
	cursor: pointer;
}

h1 {
	margin-top: 0;
	padding-top: 75px;
	font-size: 3em;
}

h1, h2, h3 {
	text-transform: uppercase;
}

section {
	display: none;
}

section.active {
	display: block;
}

#main-menu > div.description, #main-menu > div.creators {
	display: inline-block;
	width: 49%;
}

#main-menu table tr td {
	text-align: left;
}

#main-menu table {
	float: right;
}

.container {
	width: 1024px;
	margin: 0 auto;
	padding-top: 150px;
	text-align: center;
}

.keyboard-container, .keyword-container {
	margin-top: 50px;
}
.letter {
	cursor: pointer;
	font-size: 2em;
	padding: 4px 14px;
	border-radius: 4px;
	background: #500126;
	color: white;
	margin: 2px;
	width: 53px;
	height: 53px;
	border: 2px solid #FFF;
}

#letter-_ {
	width: 280px !important;
	text-align: center;
}

#dummy-btn {
	visibility: hidden;
}

#error-notifier {
	display: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#error-notifier.active {
	display: block;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

#enter {
	cursor: pointer;
    font-size: 2em;
    padding: 4px 6px;
    border: none;
    color: white;
    background: #500126;
    border-radius: 4px;
    padding-bottom: 7px;
	width: 54px;
	border: 2px solid #FFF;
}

#enter p {
	margin: 0;
}

.letter.active {
	background: #fff;
	color: #500126;
	transition: 0.05s ease;
	box-shadow: none;
}

#keyword {
    font-size: 2em;
    width: 562px;
    border: none;
	border-bottom: 2px solid #FFF;
	color: #FFF;
	background: transparent;
}

#play-btn, #back-to-main-menu {
    background: #500126;
	border-bottom: 2px solid #FFF;
	color: #FFF;
	font-size: 2em;
	border-radius: 4px;
	padding: 0 20px;
}

.prompt-container {
    padding: 10px;
	font-size: 1.3em;
	border-radius: 4px;
	background: #500126;
	color: #FFF;
	width: 600px;
	margin: 0 auto;
	border: 2px solid #FFF;
}

.prompt-container p {
	margin: 0;
}

.prompt-text img {
	max-width: 150px;
}

.buttons {
	padding: 40px 0;
}

#results {
	margin: 20px auto;
}

#results img {
	max-width: 75px;
}

#results tr {
	background: #BB153B;
	color: #FFF;
}

#results tr.correct {
	background: #16C60C;
}

#results tr.half-correct {
	background: #f48024;
}

#results tr.level {
	background: #333;
}

#results tr, #results td {
	margin: 0;
	padding: 4px 8px;
}

#results tr:first-child, .results tr:first-child td {
	background: #500126 !important;
	color: #FFF !important;
	font-size: 1.3em;
	text-transform: uppercase;
}